.pre-label{
	display:table-cell;
	width:140px !important;
	margin-bottom: 2px;
}
.post-label{
	display:table-cell;
	text-align:left !important;
	width:170px !important;
}
input[type=text].short {
	width:250px;
	margin-top:4px;
}
input[type=text],
textarea {
	width:540px;
}
select.long{
	width:554px;
}
select.short{
	width:305px;
}
select.vshort{
	width:99px;
}
select{
	height:31px;
}
#searchIR{
	width:542px;
}
#userSelector{
	margin-left:150px;
}
.userHeader{
	border-bottom: 1px solid #000099;
	padding-bottom: 3px;
	margin-bottom: 20px;
}
#navButtons{
	vertical-align:middle;
	margin-top:20px;
	margin-bottom:40px;
}
#userOKButtons,
#copyButtons {
	height: 120px;
	width: 704px;
	--display: table-cell;
	--border: 1px solid red;
	text-align:center;
	vertical-align:middle;
}
#userOKButtons span{
	margin-left:20px;
	margin-right:20px;
}
#breadCrumbs{
	margin-bottom:25px;
}
#breadCrumbs span,
#breadCrumbs a {
	cursor:pointer;
}
#regetOrder, 
#newOrder {
	margin:10px;
}
#startScreen {
	width:704px;
	height:400px;
}
#startScreen th{
	--background-color:#cacaca;
	height:40px;
}
#startScreen td{
	--border: 1px solid #cacaca;
	width:50%;
	padding:5px;
	vertical-align:middle;
}
#newUser,
#oldUser{
	margin-top:0px;
	margin-bottom:20px;
}
.accordion-group{
	width:340px;
}
#selectedList{
	float:left;
	width:320px;
	min-height:200px;
}
.badge{
	margin-right: 5px;
}
#userHint{
	margin-left:149px;
	width: 505px;
}
.stageMarker{
	margin-left:10px;
	margin-right:10px;
}
.reslist{
	margin: 2px 0px
}
#getHelp{
	margin-bottom:100px;
	margin-left:10px;
}
#email_addr{
	width:390px;
}
.modal textarea{
	width:470px;
	min-width:470px;
	max-width:470px;
	height:100px;
	min-height:100px;
	max-height:100px;
}
#order{
	clear:both;
	width: 706px;
}
#portalSectionList{
	list-style-type: none;
	width:45%;
}
#portalListBody {
	height:250px;
	overflow:auto;
}
#portalListBody li {
	padding-left: 8px !important;
	text-align: left !important;
}
#regetForm{
	display: none;
}